COMPOSE_PROJECT_NAME=irlix-services

POSTGRES_DB=irlix_services
POSTGRES_USER=irlix
POSTGRES_PASSWORD=irlix_local
POSTGRES_PORT=5432

PLATFORM_CORE_DB_USER=platform_core_app
PLATFORM_CORE_DB_PASSWORD=platform_core_local
EMPLOYEES_DB_USER=employees_app
EMPLOYEES_DB_PASSWORD=employees_local

REDIS_PORT=6379

RABBITMQ_DEFAULT_USER=irlix
RABBITMQ_DEFAULT_PASS=irlix_local
RABBITMQ_AMQP_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_EVENTS_EXCHANGE=irlix.events
OUTBOX_MAX_ATTEMPTS=10
OUTBOX_IDLE_SLEEP=2

KEYCLOAK_REALM=irlix
KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=irlix_keycloak_local
IRLIX_TEMP_ADMIN_PASSWORD=
KEYCLOAK_SMTP_HOST=
KEYCLOAK_SMTP_PORT=587
KEYCLOAK_SMTP_FROM=
KEYCLOAK_SMTP_FROM_DISPLAY_NAME=IRLIX
KEYCLOAK_SMTP_USER=
KEYCLOAK_SMTP_PASSWORD=
KEYCLOAK_SMTP_STARTTLS=true
KEYCLOAK_SMTP_SSL=false

IRLIX_PUBLIC_URL=http://192.168.90.100
ONBOARDING_LINK_LIFESPAN=86400
