COMPOSE_PROJECT_NAME=irlix-services

POSTGRES_DB=irlix_services
POSTGRES_USER=irlix
POSTGRES_PASSWORD=irlix_local
POSTGRES_PORT=5432

REDIS_PORT=6379

RABBITMQ_DEFAULT_USER=irlix
RABBITMQ_DEFAULT_PASS=irlix_local
RABBITMQ_AMQP_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
