COMPOSE_PROJECT_NAME=irlix-services

POSTGRES_DB=irlix_services
POSTGRES_USER=irlix
POSTGRES_PASSWORD=irlix_local
POSTGRES_PORT=5432

PLATFORM_CORE_DB_USER=platform_core_app
PLATFORM_CORE_DB_PASSWORD=platform_core_local
EMPLOYEES_DB_USER=employees_app
EMPLOYEES_DB_PASSWORD=employees_local

REDIS_PORT=6379

RABBITMQ_DEFAULT_USER=irlix
RABBITMQ_DEFAULT_PASS=irlix_local
RABBITMQ_AMQP_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

KEYCLOAK_REALM=irlix
KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=irlix_keycloak_local
IRLIX_TEMP_ADMIN_PASSWORD=
