APP_ENV=local
APP_DEBUG=true
DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=irlix_services
DB_USERNAME=employees_app
DB_PASSWORD=employees_local

KEYCLOAK_URL=http://keycloak:8080/auth
KEYCLOAK_REALM=irlix
KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=irlix_keycloak_local
